body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:796px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:796px;
}
#u2388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:50px;
}
#u2389_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:796px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2390 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:796px;
  color:#FFFFFF;
}
#u2390_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:32px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u2391 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:9px;
  width:140px;
  height:32px;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u2391_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:140px;
  word-wrap:break-word;
}
#u2392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.458823529411765);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2393 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:13px;
  width:25px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u2393_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u2394 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:0px;
  width:90px;
  height:50px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u2394_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:86px;
  word-wrap:break-word;
}
#u2395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:627px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2395 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:169px;
  width:868px;
  height:627px;
}
#u2395_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:408px;
  width:180px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2396_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u2397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:180px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2397_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u2398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:528px;
  width:180px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2398_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u2399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:109px;
  width:180px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2399_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u2400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:139px;
  width:180px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2400_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u2401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:169px;
  width:180px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2401_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u2402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:378px;
  width:180px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2402_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u2403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:468px;
  width:180px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2403_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u2404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:438px;
  width:180px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2404_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u2405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:498px;
  width:180px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2405_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u2406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:558px;
  width:180px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2406_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u2407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:588px;
  width:180px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2407_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u2408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2408_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u2409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:199px;
  width:180px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2409_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u2410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u2410 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:199px;
  width:180px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u2410_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u2411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:288px;
  width:180px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2411_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
#u2412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:258px;
  width:180px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2412_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
#u2413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:318px;
  width:180px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2413_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
#u2414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:348px;
  width:180px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2414_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
#u2415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2415 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:229px;
  width:180px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2415_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
#u2416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u2416 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:60px;
  width:91px;
  height:25px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u2416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2417 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:246px;
  width:582px;
  height:116px;
}
#u2418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
}
#u2418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2418_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:93px;
  word-wrap:break-word;
}
#u2419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u2419 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:0px;
  width:106px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2419_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:102px;
  word-wrap:break-word;
}
#u2420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u2420 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:0px;
  width:92px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2420_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:88px;
  word-wrap:break-word;
}
#u2421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
}
#u2421 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:0px;
  width:147px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2421_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:143px;
  word-wrap:break-word;
}
#u2422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u2422 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:0px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2422_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u2423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:76px;
}
#u2423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:97px;
  height:76px;
}
#u2423_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:93px;
  word-wrap:break-word;
}
#u2424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:76px;
}
#u2424 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:40px;
  width:106px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u2424_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:102px;
  word-wrap:break-word;
}
#u2425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:76px;
}
#u2425 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:40px;
  width:92px;
  height:76px;
}
#u2425_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:88px;
  word-wrap:break-word;
}
#u2426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:76px;
}
#u2426 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:40px;
  width:147px;
  height:76px;
}
#u2426_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:143px;
  word-wrap:break-word;
}
#u2427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:76px;
}
#u2427 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:40px;
  width:140px;
  height:76px;
  color:#0099FF;
}
#u2427_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:136px;
  word-wrap:break-word;
}
#u2428 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:192px;
  width:200px;
  height:30px;
}
#u2428_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u2430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2430_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2431 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2431_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2433 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:95px;
  width:868px;
  height:58px;
}
#u2433_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2434 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:109px;
  width:68px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2434_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:64px;
  word-wrap:break-word;
}
#u2435 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:111px;
  width:187px;
  height:25px;
}
#u2435_input {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u2436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2436 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:109px;
  width:68px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2436_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:64px;
  word-wrap:break-word;
}
#u2437 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:883px;
  width:727px;
  height:192px;
}
#u2438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u2438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2438_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u2439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:40px;
}
#u2439 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:0px;
  width:91px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2439_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u2440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u2440 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:0px;
  width:79px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2440_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u2441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u2441 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:0px;
  width:126px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2441_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:122px;
  word-wrap:break-word;
}
#u2442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:40px;
}
#u2442 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:0px;
  width:114px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2442_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:110px;
  word-wrap:break-word;
}
#u2443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:40px;
}
#u2443 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:0px;
  width:114px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2443_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:110px;
  word-wrap:break-word;
}
#u2444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u2444 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:0px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2444_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u2445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:76px;
}
#u2445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:83px;
  height:76px;
}
#u2445_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:79px;
  word-wrap:break-word;
}
#u2446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:76px;
}
#u2446 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:40px;
  width:91px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u2446_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:87px;
  word-wrap:break-word;
}
#u2447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:76px;
}
#u2447 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:40px;
  width:79px;
  height:76px;
}
#u2447_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:75px;
  word-wrap:break-word;
}
#u2448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:76px;
}
#u2448 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:40px;
  width:126px;
  height:76px;
}
#u2448_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:122px;
  word-wrap:break-word;
}
#u2449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:76px;
}
#u2449 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:40px;
  width:114px;
  height:76px;
}
#u2449_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:110px;
  word-wrap:break-word;
}
#u2450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:76px;
}
#u2450 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:40px;
  width:114px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2450_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:110px;
  word-wrap:break-word;
}
#u2451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:76px;
}
#u2451 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:40px;
  width:120px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2451_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:116px;
  word-wrap:break-word;
}
#u2452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:76px;
}
#u2452 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:116px;
  width:83px;
  height:76px;
}
#u2452_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:79px;
  word-wrap:break-word;
}
#u2453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:76px;
}
#u2453 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:116px;
  width:91px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u2453_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:87px;
  word-wrap:break-word;
}
#u2454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:76px;
}
#u2454 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:116px;
  width:79px;
  height:76px;
}
#u2454_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:75px;
  word-wrap:break-word;
}
#u2455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:76px;
}
#u2455 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:116px;
  width:126px;
  height:76px;
}
#u2455_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:122px;
  word-wrap:break-word;
}
#u2456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:76px;
}
#u2456 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:116px;
  width:114px;
  height:76px;
}
#u2456_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:110px;
  word-wrap:break-word;
}
#u2457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:76px;
}
#u2457 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:116px;
  width:114px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2457_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:110px;
  word-wrap:break-word;
}
#u2458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:76px;
}
#u2458 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:116px;
  width:120px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2458_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:116px;
  word-wrap:break-word;
}
#u2459 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:829px;
  width:200px;
  height:30px;
}
#u2459_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u2461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2461 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2461_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2462 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2462_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
